/*<weight>: Use a value from 300 to 800*/
body{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

nav{
  width: 100%;
  min-height: 30px;
  background-color: lightcyan;
}

nav a{
  color: black;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.group{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

form{
  align-content: center;
}

p{
  
}

img{
  width: 90%;
  max-width: 250px;   
}
/*<weight>: Use a value from 100 to 700*/
h1{
  font-family: "Josefin Sans",futura, sans-serif;
}

li + ol{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form{

}

input{
  display: block;
}

textarea{
  display: block;
}