/*<weight>: Use a value from 300 to 800*/
body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p{
  
}

img{
    width: 90%;
    max-width: 250px;   
}
/*<weight>: Use a value from 100 to 700*/
h1{
  font-family: "Josefin Sans",futura, sans-serif;
}

ol li{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}